extends layout

block content
    div.section.parallax.indexImage
      h1.title=title
    div.section.static
      input(id="searchBar" type="text" placeholder="Apple")
      button(onclick="getCompanies()") Search
      h1 Companies: 
      ul(id="companyList")
    div.section.parallax.bottomImage
      h1 by Andrew, Brooke, Kevin, Thomas, and Zoe

    script(src="business.js")