extends layout

block content
    div.section.parallax.companiesImage
      h1.title=title
    div.section.static
      h1.sectionHead Companies 
      input(id="searchBar" type="text" placeholder="Apple").input
      button(onclick="getCompanies()").contentButton Search
      div.companyDiv
        ul(id="companyList").companyList
    div.section.parallax.bottomImage
      h1 by Andrew, Brooke, Kevin, Thomas, and Zoe
    script(src="business.js")