extends layout

block content
    div.section.parallax.indexImage
      h1.title=title
    div.section.static
      h1
    div.section.parallax.bottomImage
      h1 by Andrew, Brooke, Kevin, Thomas, and Zoe
    script
      include ..\public\business.js