extends layout

block content
    div.section.parallax.flightsImage
      h1.title=title
    div.section.static
      div.companyDiv
        h1(id="flightDate")
        div(id="flightDiv")
          h3 Flight
          p(id="flightNum")
          h3 Airline
          p(id="airline")
          h3 From
          p(id="from")
          h3 Planned Arrival
          p(id="plannedArrival")
          h3 Real Arrival
          p(id="realArrival")
          h3 Status
          p(id="status")
        h1(id="flightDate1")
        div(id="flightDiv1")
          h3 Flight
          p(id="flightNum1")
          h3 Airline
          p(id="airline1")
          h3 From
          p(id="from1")
          h3 Planned Arrival
          p( id="plannedArrival1")
          h3 Real Arrival
          p(id="realArrival1")
          h3 Status
          p(id="status1")
        h1(id="flightDate2")
        div(id="flightDiv2")
          h3 Flight
          p(id="flightNum2")
          h3 Airline
          p(id="airline2")
          h3 From
          p(id="from2")
          h3 Planned Arrival
          p(id="plannedArrival2")
          h3 Real Arrival
          p(id="realArrival2")
          h3 Status
          p(id="status2")
        h1(id="flightDate3")
        div(id="flightDiv3")
          h3 Flight
          p(id="flightNum3")
          h3 Airline
          p(id="airline3")
          h3 From
          p(id="from3")
          h3 Planned Arrival
          p(id="plannedArrival3")
          h3 Real Arrival
          p(id="realArrival3")
          h3 Status
          p(id="status3")
        h1(id="flightDate4")
        div(id="flightDiv4")
          h3 Flight
          p(id="flightNum4")
          h3 Airline
          p(id="airline4")
          h3 From
          p(id="from4")
          h3 Planned Arrival
          p(id="plannedArrival4")
          h3 Real Arrival
          p(id="realArrival4")
          h3 Status
          p(id="status4")
        h1(id="flightDate5")
        div(id="flightDiv5")
          h3 Flight
          p(id="flightNum5")
          h3 Airline
          p(id="airline5")
          h3 From
          p(id="from5")
          h3 Planned Arrival
          p(id="plannedArrival5")
          h3 Real Arrival
          p(id="realArrival5")
          h3 Status
          p(id="status5")
        h1(id="flightDate6")
        div(id="flightDiv6")
          h3 Flight
          p(id="flightNum6")
          h3 Airline
          p(id="airline6")
          h3 From
          p(id="from6")
          h3 Planned Arrival
          p(id="plannedArrival6")
          h3 Real Arrival
          p(id="realArrival6")
          h3 Status
          p(id="status6")
    div.section.parallax.bottomImage
      h1 by Andrew, Brooke, Kevin, Thomas, and Zoe

    script(src="travel.js")