extends layout

block content
    div.section.parallax.indexImage
      h1.title=title
    div.section.static
      h1(id="flightDate")
      div(id="flightDiv")
        p(id="flightNum")
        p(id="airline")
        p(id="from")
        p(id="plannedArrival")
        p(id="realArrival")
        p(id="status")
      h1(id="flightDate1")
      div(id="flightDiv1")
        p(id="flightNum1")
        p(id="airline1")
        p(id="from1")
        p(id="plannedArrival1")
        p(id="realArrival1")
        p(id="status1")
      h1(id="flightDate2")
      div(id="flightDiv2")
        p(id="flightNum2")
        p(id="airline2")
        p(id="from2")
        p(id="plannedArrival2")
        p(id="realArrival2")
        p(id="status2")
      h1(id="flightDate3")
      div(id="flightDiv3")
        p(id="flightNum3")
        p(id="airline3")
        p(id="from3")
        p(id="plannedArrival3")
        p(id="realArrival3")
        p(id="status3")
      h1(id="flightDate4")
      div(id="flightDiv4")
        p(id="flightNum4")
        p(id="airline4")
        p(id="from4")
        p(id="plannedArrival4")
        p(id="realArrival4")
        p(id="status4")
      h1(id="flightDate5")
      div(id="flightDiv5")
        p(id="flightNum5")
        p(id="airline5")
        p(id="from5")
        p(id="plannedArrival5")
        p(id="realArrival5")
        p(id="status5")
      h1(id="flightDate6")
      div(id="flightDiv6")
        p(id="flightNum6")
        p(id="airline6")
        p(id="from6")
        p(id="plannedArrival6")
        p(id="realArrival6")
        p(id="status6")
    div.section.parallax.bottomImage
      h1 by Andrew, Brooke, Kevin, Thomas, and Zoe

    script(src="travel.js")