head
  link(href='style.css', rel='stylesheet')
  link(rel="icon" href="./images/icelandIcon.png")
  header
    title Travel Iceland
body
  block contentdoctype html
html
  head
    title= title
    link(rel='stylesheet', href='/public/style.css')
  body
    block content
