extends layout

block content
    div.section.parallax.indexImage
      h1.title Welcome to Sports
    div.section.parallax.static
          h1(style='color:Black;') HandBall Games
            table
              tr
                th Date
                th Time
                th Tournament
                th Venue
                th Teams
              tr  
                th(id="a")
                th(id='a2')
                th(id="a3")
                th(id="a4")
                th(id="a5")
              tr
                th(id='b')
                th(id="b2")
                th(id="b3")
                th(id="b4")
                th(id="b5")
              tr
                th(id='c')
                th(id="c2")
                th(id="c3")
                th(id="c4")
                th(id="c5")
              tr
                th(id='d')
                th(id="d2")
                th(id="d3")
                th(id="d4")
                th(id="d5")
              tr
                th(id='e')
                th(id="e2")
                th(id="e3")
                th(id="e4")
                th(id="e5")
    div.section.parallax.bottomImage
      h1 by Andrew, Brooke, Kevin, Thomas, and Zoe
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script
      include ..\public\entertainment.js