extends layout

block content
    div.section.parallax.indexImage
      h1.title Welcome to Sports
    div.section.parallax.static
          h1(style='color:Black;') HandBall Games
            table(style="border: solid black;")
              tr
                th Date
                th Time
                th Tournament
                th Venue
                th Teams
              tr  
                th(id="a")
                th(id='a2')
                th(id="a3")
                th(id="a4")
                th(id="a5")
              tr
                th(id='b')
                th(id="b2")
                th(id="b3")
                th(id="b4")
                th(id="b5")
              tr
                th(id='c')
                th(id="c2")
                th(id="c3")
                th(id="c4")
                th(id="c5")
              tr
                th(id='d')
                th(id="d2")
                th(id="d3")
                th(id="d4")
                th(id="d5")
              tr
                th(id='e')
                th(id="e2")
                th(id="e3")
                th(id="e4")
                th(id="e5")
              tr
                th(id='f')
                th(id="f2")
                th(id="f3")
                th(id="f4")
                th(id="f5")
              tr
                th(id='g')
                th(id="g2")
                th(id="g3")
                th(id="g4")
                th(id="g5")
              tr
                th(id='h')
                th(id="h2")
                th(id="h3")
                th(id="h4")
                th(id="h5")
              tr
                th(id='g')
                th(id="g2")
                th(id="g3")
                th(id="g4")
                th(id="g5")
              tr
                th(id='i')
                th(id="i2")
                th(id="i3")
                th(id="i4")
                th(id="i5")
              tr
                th(id='j')
                th(id="j2")
                th(id="j3")
                th(id="j4")
                th(id="j5")
              tr
                th(id='k')
                th(id="k2")
                th(id="k3")
                th(id="k4")
                th(id="k5")
              tr
                th(id='l')
                th(id="l2")
                th(id="l3")
                th(id="l4")
                th(id="l5")
              tr
                th(id='m')
                th(id="m2")
                th(id="m3")
                th(id="m4")
                th(id="m5")
              tr
                th(id='n')
                th(id="n2")
                th(id="n3")
                th(id="n4")
                th(id="n5")
              tr
                th(id='o')
                th(id="o2")
                th(id="o3")
                th(id="o4")
                th(id="o5")
              tr
                th(id='p')
                th(id="p2")
                th(id="p3")
                th(id="p4")
                th(id="p5")
              tr
                th(id='q')
                th(id="q2")
                th(id="q3")
                th(id="q4")
                th(id="q5")
              tr
                th(id='r')
                th(id="r2")
                th(id="r3")
                th(id="r4")
                th(id="r5")
              tr
                th(id='s')
                th(id="s2")
                th(id="s3")
                th(id="s4")
                th(id="s5")
              tr
                th(id='t')
                th(id="t2")
                th(id="t3")
                th(id="t4")
                th(id="t5")
              tr
                th(id='u')
                th(id="u2")
                th(id="u3")
                th(id="u4")
                th(id="u5")
              tr
                th(id='v')
                th(id="v2")
                th(id="v3")
                th(id="v4")
                th(id="v5")
              tr
                th(id='w')
                th(id="w2")
                th(id="w3")
                th(id="w4")
                th(id="w5")
              tr
                th(id='x')
                th(id="x2")
                th(id="x3")
                th(id="x4")
                th(id="x5")
              tr
                th(id='y')
                th(id="y2")
                th(id="y3")
                th(id="y4")
                th(id="y5")
              tr
                th(id="z")
                th(id="z2")
                th(id="z3")
                th(id="z4")
                th(id="z5")
    div.section.parallax.bottomImage
      h1 by Andrew, Brooke, Kevin, Thomas, and Zoe
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script
      include ..\public\sports.js