extends layout

block content
    div.section.parallax.weatherImage
      h1.title=title
    div.section.static
      div.companyDiv
        h1(id="forecastDate")
        div(id="weatherForecastDiv")
          h3(id="forecast")
        h1(id="forecastDate1")
        div(id="weatherForecastDiv1")
          h3(id="forecast1")
        h1(id="forecastDate2")
        div(id="weatherForecastDiv2")
          h3(id="forecast2")
        h1(id="forecastDate3")
        div(id="weatherForecastDiv3")
          h3(id="forecast3")
        h1(id="forecastDate4")
        div(id="weatherForecastDiv4")
          h3(id="forecast4")
        h1(id="forecastDate5")
        div(id="weatherForecastDiv5")
          h3(id="forecast5")
        h1(id="forecastDate6")
        div(id="weatherForecastDiv6")
          h3(id="forecast6")
    div.section.parallax.bottomImage
      h1 by Andrew, Brooke, Kevin, Thomas, and Zoe
        
    script(src="travel.js")