extends layout

block content
    div.section.parallax.indexImage
      h1.title=title
    div.section.static
      h1(id="forecastDate")
      div(id="weatherForecastDiv")
        p(id="forecast")
      h1(id="forecastDate1")
      div(id="weatherForecastDiv1")
        p(id="forecast1")
      h1(id="forecastDate2")
      div(id="weatherForecastDiv2")
        p(id="forecast2")
      h1(id="forecastDate3")
      div(id="weatherForecastDiv3")
        p(id="forecast3")
      h1(id="forecastDate4")
      div(id="weatherForecastDiv4")
        p(id="forecast4")
      h1(id="forecastDate5")
      div(id="weatherForecastDiv5")
        p(id="forecast5")
      h1(id="forecastDate6")
      div(id="weatherForecastDiv6")
        p(id="forecast6")
    div.section.parallax.bottomImage
      h1 by Andrew, Brooke, Kevin, Thomas, and Zoe
        
    script(src="travel.js")