extends layout

block content
    div.section.parallax.indexImage
      h1.title=title
    div.section.static
      h1 Today's Forecast
      div(id="weatherForecastDiv")
        p(id="forecast")
    div.section.parallax.bottomImage
      h1 by Andrew, Brooke, Kevin, Thomas, and Zoe
        
    script(src="travel.js")