html,
body {
    padding: 0;
    margin: 0;
}

a{
    cursor: pointer;
}

h1{
    font-family: 'Philosopher';
    text-align: center;
    padding: 50px;
    cursor: default;
}

h3{
    font-size: 24px;
    font-family: 'Philosopher';
}

li{
    list-style: none;
    text-align: right;
    padding: 15px 30px;
}

ul{
    background-color: #1D384C;
    margin: 0px;
    display: none;
}

.buttonDiv{
    display: flex;
    flex-direction: column;
}

.companyDiv{
    margin: 50px 0px;
    border-top: 2px solid #1D384C;
    border-bottom: 2px solid #1D384C;
    width: 500px;
    flex: 1;
    overflow: auto;
    text-align: right;
}

.companyList{
    display: inline;
    flex-direction: column;
    background: transparent;
}

.content{
    display: flex;
    flex-direction: row;
}

.contentButton{
    cursor: pointer;
    background: #486D89;
    color: #f0f5f9;
    border: none;
    height: 50px;
    font-size: 24px;
    font-family: 'Philosopher';
    width: 250px;
    border-bottom: 2px solid #1D384C;
    outline: none;
}

.currencyTable{
    font-size: 24px;
    margin: 50px;
}

.currencyTD{
    font-size: 36px;
    border-bottom: 2px solid #1D384C;
}

.forecastDiv{
    margin: 20px;
}

.home{
    font-size: 70px;
    font-family: 'Philosopher';
    text-align: center;
    text-decoration: none;
    margin: 80px 20px;
    color: #F0F5F9;
}

.input{
    font-family: 'Open Sans';
    margin: 30px;
    font-size: 24px;
    width: 250px;
    color: #1D384C;
}

.input:focus{
    outline-color: #8BACC4;
}

.pages{
    font-family: 'Open Sans';
    text-decoration: none;
    width: 100%;
    color: #F0F5F9;
}

.parallax::after{
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
}

.section{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 10px #1D384C;
}

.sectionHead{
    font-size: 42px;
    margin-bottom: 20px;
}

.sidebar{
    display: flex;
    flex-direction: column;
    background-color: #486D89;
    width: 400px;
    height: 100vh;
    overflow: auto;
}

.sidebarButton{
    height: 50px;
    font-size: 24px;
    margin-top: 20px;
    font-family: 'Philosopher';
    background-color: transparent;
    text-decoration: none;
    border: none;
    border-bottom: 2px solid #1D384C;
    cursor: pointer;
    outline: none;
    color: #EFF7F9;
}

.static{
    background: #EFF7F9;
    flex-direction: column;
    font-family: 'Open Sans';
    text-shadow: none;
    color: #1D384C;
}

.title{
    font-size: 70px;
    font-family: 'Philosopher';
}

.bottomImage::after{
    background-image: url('./images/icelandAurora.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.indexImage::after{
    background-image: url('./images/iceland3.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.interestingImage::after{
    background-image: url('./images/iceland2.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.companiesImage::after{
    background-image: url('./images/icelandCompanies.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.currencyImage::after{
    background-image: url('./images/icelandCurrency.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.flightsImage::after{
    background-image: url('./images/icelandFlights.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.sportsImage::after{
    background-image: url('./images/icelandSports.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.televisionImage::after{
    background-image: url('./images/icelandTV.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.weatherImage::after{
    background-image: url('./images/icelandStorm.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.weatherDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
}

::-webkit-scrollbar {
    display: none;
}

.wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
    width: 100%;
}