
html,
body {
    padding: 0;
    margin: 0;
}

a{
    cursor: pointer;
}

h1{
    font-family: 'Philosopher';
    text-align: center;
    padding: 50px;
    cursor: default;
}

li{
    list-style: none;
    text-align: right;
    padding: 15px 50px;
}

ul{
    background-color: lightslategray;
    margin: 0px;
    display: none;
}

.bottomImage::after{
    background-image: url('./images/iceland1.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.content{
    display: flex;
    flex-direction: row;
}

.home{
    font-size: 60px;
    font-family: 'Philosopher';
    text-align: center;
    text-decoration: none;
    margin: 80px 20px;
}

.pages{
    font-family: 'Open Sans';
    text-decoration: none;
    width: 100%;
}

.parallax::after{
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
}

.section{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 5px #000;
}

.sidebar{
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    width: 400px;
    height: 100vh;
}

.sidebarButton{
    height: 50px;
    font-size: 24px;
    margin-top: 20px;
    font-family: 'Philosopher';
    background-color: transparent;
    text-decoration: none;
    border: none;
    border-bottom: 2px solid black;
    cursor: pointer;
}

.sidebarButton:hover{
    color: white;
}

.static{
    background: white;
    flex-direction: column;
}

.title{
    font-size: 50px;
    font-family: 'Philosopher';
}

.indexImage::after{
    background-image: url('./images/iceland3.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.interestingImage::after{
    background-image: url('./images/iceland2.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
    width: 100%;
}